{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if collection == 'news_fr' or collection == 'news_en' %}
      {{ title | trim }}
    {% else %}
      {{ __(title) | trim }}
    {% endif%}
  </title>
  <meta name="description" content="{% if excerpt %}{{ excerpt | striptags() | truncate(160) }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{site.author}}">
  <dc:title>{{site.name}}</dc:title>
  <dc:creator>{{site.author}}</dc:creator>
  <dc:description>{{ site.description }}</dc:description>
  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">

  <link rel="stylesheet" href="/css/style.css">
{% endblock %}
