{% block menu %}
     <ul class="nav nav-pills nav-stacked">
       <li>
         <a href="{{ '/' if locale === defaultLocale else '/'+locale }}">Intro</a>
       </li>
       {% for page in pages %}
        {% if page.locale == locale and page.level == 0 %}
        <li>
          <a href="/{{ page.path }}">{{ page.title }}</a>
        </li>
        {% endif %}
       {% endfor %}
     </ul>
     <ul class="nav nav-pills nav-stacked">
       <li>
         <a href="/{{ locale }}/news/">news</a>
       </li>
       {% for page in pages %}
        {% if page.locale == locale and page.level == 1 %}
          <li>
            <a href="/{{ page.path }}">{{ page.title }}</a>
          </li>
        {% endif %}
       {% endfor %}
     </ul>

     <ul>
       {% for locale in locales %}
          <li>
            {% if layout == 'news-archive.html' or layout == 'news.html' %}
              <a href="/{{locale}}/news">{{ locale }}</a>
            {% else %}
              <a href="/{{ lang(locale).path }}">{{ locale }}</a>
            {% endif %}
          </li>
       {% endfor %}
     </ul>
{% endblock %}
