{% block menu %}
  <div class="sidemenu-1">
     <ul class="nav">
       <li class="{{ 'active' if layout == 'index.html' }}">
         <a href="{{ '/' if locale === defaultLocale else '/'+locale }}">{{__('intro')}}</a>
       </li>
       {% for page in pages %}
        {% if page.locale == locale and page.level == 0 %}
        <li class="{{ 'active' if page.path == path }}">
          <a href="/{{ page.path }}">{{__(page.title)}}</a>
        </li>
        {% endif %}
       {% endfor %}
     </ul>
   </div>
  <div class="sidemenu-2">
     <ul class="nav">
       <li class="{{ 'active' if layout == 'news-archive.html' or  layout == 'news.html'}}">
         <a href="/{{ locale }}/news/">{{__('news')}}</a>
       </li>
       {% for page in pages %}
        {% if page.locale == locale and page.level == 1 %}
          <li class="{{ 'active' if page.path == path }}">
            <a href="/{{ page.path }}">{{__(page.title)}}</a>
          </li>
        {% endif %}
       {% endfor %}
     </ul>
     <div class="languages">
       {% for language in locales %}
          <span class="{{ 'active' if language == locale }}">
            {% if layout == 'news-archive.html' or layout == 'news.html' %}
              <a href="/{{language}}/news">{{ language }}</a>
            {% else %}
              <a href="/{{ lang(language).path }}">{{ language }}</a>
            {% endif %}
          </span>
       {% endfor %}
     </div>
  </div>
{% endblock %}
