{% block navmobile %}
<nav class="navbar navbar-default navbar-fixed-top visible-xs visible-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="btn btn-default hamburger">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand">
        {% if collection == 'news_fr' or collection == 'news_en' %}
          {{__('news')}}
        {% else %}
          {{ __(title) }}
        {% endif%}
      </a>
      {% if layout == 'projects.html' %}
      <button type="button" class="btn btn-default open-filters visible-xs">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
      </button>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
