{% extends "default.html" %}
{% block body %}
  {% include "partials/nav-mobile.html" %}
  {% include "partials/sidebar-mobile.html" %}
  <div class="container-fluid">
    <div class="row">
      {% include "partials/sidebar.html" %}
      <div class="col-md-10 col-md-offset-2">
        <h2 class="hidden-xs hidden-sm header-page">{{ __(title) }}</h2>
        {% if external | length == 0 %}
          <p>
            {{ __('no events') }}
          </p>
        {% endif %}
        {% for group, events in external | reverse | addMonthYear('start', locale) | groupby("monthYear") %}
          <h4 class="month">{{ group }}</h4>
              {% for event in events%}
                <div class="event-container flex">
                  <div class="event-date">
                    <h4>
                      {{ event.start | date("DD MMM", locale) }}
                      {% if event.start | date("DD MMM", locale) != event.end | date("DD MMM", locale) %}
                       - {{ event.end | date("DD MMM", locale)}}
                      {%endif%}
                    </h4>
                    {% if event.hasDateTime %}
                    <p>
                      {{ event.start | date("HH:mm") }} - {{ event.end | date("HH:mm") }}
                    </p>
                    {%endif%}
                  </div>
                  <div class="event-info-link">
                    <div class="event-info">
                      <h4>{{ event.summary }}</h4>
                      {% if event.location %}
                        <p>
                          {{ event.location }}
                        </p>
                      {% endif %}
                      {% if event.description %}
                        <p class="hidden-xs">
                          {{ event.description | urlize | safe }}
                        </p>
                      {% endif %}
                    </div>
                    <div class="event-link">
                      <a class="btn btn-default" href="{{event.htmlLink}}" target="_blank">
                        <span class="hidden-xs">{{ __('add to calendar') }}</span> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      </a>
                    </div>
                  </div>
                </div>
              {% endfor %}
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}
