{% extends "default.html" %}
{% block body %}
  {% include "partials/nav-mobile.html" %}
  {% include "partials/sidebar-mobile.html" %}
  <div class="container-fluid home-margin">
    <div class="row">
      {% include "partials/sidebar.html" %}
      <div class="col-md-10 col-md-offset-2 home-container">
        <div class="row home-intro">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            {{ contents | safe }}
            <a href="{{site.baseurl}}{{locale}}/what-is-forccast">{{ __('read more') }}</a>
          </div>

          <div class="investirlavenir-container">
              <img src="/media/investirlavenir.png" />
          </div>
        </div>


      <div class="home-news">
        <div class="row">
          <div class="col-md-12">
            <h2 class="latest-news">{{ __('latest news') }}</h2>
            <div class="pull-right latest-news-btn-group hidden-xs" role="group" aria-label="slide news">
              <button type="button" class="btn btn-default left disabled"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
              <button type="button" class="btn btn-default right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="last-news-container">
            {% for news in collections['news_'+locale] | limitTo(10) %}
              <div class="last-news">
                <p class="last-news-date">
                  {{ news.date | date("DD MMM YYYY", locale) }}
                </p>
                <h4><a href="{{site.baseurl}}{{ news.path }}">{{ news.title | truncate(75) }} <span class="home-read-more">{{ __('read more') }}</span></a></h4>
                <p class="last-news-category">
                  {{ news.categories | join(' · ')}}
                </p>
              </div>

            {% endfor%}
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
