{% extends "default.html" %}
{% block body %}
  {% include "partials/nav-mobile.html" %}
  {% include "partials/sidebar-mobile.html" %}
  <div class="container-fluid">
    <div class="row">
      {% include "partials/sidebar.html" %}
      <div class="col-sm-7 col-md-5 col-md-offset-2 header-page">

        <p class="hidden-xs">
          <div class="pull-right archive-news-btn-group" role="group" aria-label="slide news">
            <a type="button" class="btn btn-default left {{ '' if previous else 'disabled' }}" href="{{site.baseurl}}{{ previous.path if previous }}">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
              </span>
            </a>
            <a type="button" class="btn btn-default right {{ '' if next else 'disabled' }}" href="{{site.baseurl}}{{ next.path if next }}">
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">
              </span>
            </a>
          </div>
        </p>

        <h2>{{ title }}</h2>
        <div class="news-content">
        <p>
          <small>{{ __('published by') }} {{ author }} on {{ date | date("DD MMM YYYY", locale) }}</small>
        </p>
          <div class="news-category-container"><small>{{ __('filed under') }}</small> <span class="news-category">{{ categories | join(' · ')}}</span></div>
        {{ contents | safe }}
        </div>

      </div>
      <div class="col-sm-5 col-sm-offset-7 col-md-5 col-md-offset-7 hidden-xs fixed-rightbar">
          {{ media | safe }}
      </div>
    </div>
  </div>
{% endblock %}
