{% extends "default.html" %}
{% block body %}
{% include "partials/nav-mobile.html" %}
{% include "partials/sidebar-mobile.html" %}
<div class="container-fluid">
  <div class="row">
    {% include "partials/sidebar.html" %}
    <div class="col-md-10 col-md-offset-2">
      <div class="row">
        <div class="col-md-12 header-page">
          <h2 class="pull-left latest-news hidden-xs hidden-sm">{{ __(title) }}</h2>
        </div>

      </div>
      {% set order = cycler("img-order-0", "img-order-1") %}
      {% for row in pagination.files | slice(5) %}
      {% set roworder = order.next() %}
      <div class="row">
        {% for news in row%}
        <div class="col-sm-12 col-md-6 flex flex-wrap news-box">
          <div
          style="background-image: url('{{news.cover}}')"
          class="news-img {{roworder}}">
        </div>
        <div class="news-info flex flex-column">
          <p class="news-date">
            {{ news.date | date("DD MMM YYYY", locale) }}
          </p>
          <a href="{{site.baseurl}}{{ news.path }}">
            <h4>{{ news.title }}</h4>
          </a>
          <p class="news-category">
            {{ news.categories | join(' · ')}}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-md-12">
          <p class="pagination">
            <div class="archive-news-btn-group" role="group" aria-label="slide news">
              <a type="button" class="btn btn-default {{ '' if pagination.previous else 'disabled' }}" href="{{site.baseurl}}{{ pagination.previous.path if pagination.previous }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
                </span> {{ __("next") }}
              </a>
              <a type="button" class="btn btn-default {{ '' if pagination.next else 'disabled' }}" href="{{site.baseurl}}{{ pagination.next.path if pagination.next }}">
                {{ __("prev") }} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">
                </span>
              </a>
            </div>
          </p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
