{% extends "default.html" %}
{% block body %}
  {% include "partials/nav-mobile.html" %}
  {% include "partials/sidebar-mobile.html" %}
  <div class="container-fluid">
    <div class="row">
      {% include "partials/sidebar.html" %}
      <div class="col-sm-6 col-md-5 col-md-offset-2 static">
        <h2 class="hidden-xs hidden-sm header-page">{{ __(title) }}</h2>
        <div class="hidden-xs">
          {{ contents | safe }}
        </div>
        <div class="visible-xs">
          {{ mobile | safe }}
        </div>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-7 col-sm-offset-6 hidden-xs notes-container">
        {{footnotes | safe }}
      </div>
    </div>
  </div>
{% endblock %}
