{% extends "default.html" %}
{% block body %}
  {% include "partials/nav-mobile.html" %}
  {% include "partials/sidebar-mobile.html" %}
  <div class="container">
    <div class="row">
      {% include "partials/sidebar.html" %}
      <div class="col-md-10">
        <h2 class="hidden-xs hidden-sm">{{ title }}</h2>
        {{ contents | safe }}
        {% for partner in external %}
          <div class="partner-person">
              <h4>
                {{ partner.name }}
                <span class="partner-role"> ({{ partner.country }})</span>
              </h4>
              {% if partner.url %}
                <h5 class="partner-url">
                  {{ partner.url }}
                </h5>
              {% endif %}
              <p>
                {{ partner.description }}
              </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
