{% extends "default.html" %}
{% block body %}
  {% include "partials/nav-mobile.html" %}
  {% include "partials/sidebar-mobile.html" %}
  <div class="container-fluid">
    <div class="row">
      {% include "partials/sidebar.html" %}
      <div class="col-sm-8 col-md-6 col-md-offset-2" id="project-list">
        <h2 class="hidden-xs hidden-sm latest-news">{{__(title)}}</h2>
        <p class="pull-right">
          <span class="selected-projects">
            {{ external.projects.length }}
          </span>
          / {{ external.projects.length }}
        </p>
        {{ contents | safe }}
        <div class="list">
        {% for project in external.projects %}
          <div id="{{project.project_slug}}">
            <div class="row">
              <div class="col-xs-10 col-sm-7">
                <h3 class="search-title search-typology" data-typology="{{project.typology}}">{{ project.project_title }}</h3>
                <h5 class="search-institutions">
                  {{ project.university_1 }}
                  {{ (' · ' + project.university_2) if project.university_2 }}
                  {{ (' · ' + project.university_3) if project.university_3 }}
                </h5>
                <p class="search-tags">
                  {{ project.theme_tags | replace('|', '·')}}
                </p>
              </div>
              <div class="col-xs-2 col-sm-4 col-sm-offset-1">
                <img src="" class="hidden-xs"/>
                <button class="expand-details btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#details-{{loop.index}}" aria-expanded="false" aria-controls="details-{{loop.index}}">
                  <div class="visible-xs">
                    <span class="glyphicon" aria-hidden="true"></span>
                  </div>
                </button>
              </div>
            </div>
            <div class="row collapse" id="details-{{loop.index}}">
              <div class="col-sm-4">
                <h4>{{__('details')}}</h4>
                <p class="search-course">
                  {{ project.course_title }}
                  ({{ project.from_date}}{% if project.from_date != project.to_date %} - {{project.to_date}}{% endif %})
                </p>
                {% if project.tutors %}
                <h4>{{__('tutors')}}</h4>
                <ul class="search-tutors">
                  {% for tutor in project.tutors | split('|') %}
                    <li>
                      {{tutor}}
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% if project.course_teachers %}
                <h4>{{__('teachers')}}</h4>
                <ul class="search-teachers">
                  {% for teacher in project.course_teachers | split('|') %}
                    <li>
                      {{teacher}}
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="col-sm-4">
                  <h4>{{__('students')}}</h4>
                  <ul class="search-students">
                    {% for student in project.students | split('|') %}
                      <li>
                        {{student | trim }}
                      </li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="col-sm-4">
                <a class="btn btn-default btn-block" href="{{project.website_url}}" target="_blank">{{__('open project')}}</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <div class="no-results hidden">
          <p>
            {{ __('no results, sorry!') }}
          </p>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-md-offset-8 filters-container">
        <p class="visible-xs">
          <span class="selected-projects">
            {{ external.projects.length }}
          </span>
          / {{ external.projects.length }}
        </p>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="project-search" placeholder="{{__('search')}}">
          </div>
          {% for typology in external.meta.typology %}
          <div class="checkbox">
            <label>
              <input type="checkbox" value="{{typology.value}}" checked> {{typology.label}}
            </label>
          </div>
          {% endfor %}
          <div class="institutions-container">
            <h4>{{__('institutions')}}</h4>
            {% for institution in external.meta.institutions %}
            <button type="button" class="btn btn-default btn-xs" data-toggle="button" aria-pressed="false" autocomplete="off" value="{{ institution.label }}">{{ institution.label }}</button>
            {% endfor %}
          </div>
          <div class="tags-container">
            <h4>{{__('tags')}}</h4>
            {% for tag in external.meta.tags %}
            <button type="button" class="btn btn-default btn-xs" data-toggle="button" aria-pressed="false" autocomplete="off" value="{{ tag.label }}">{{ tag.label }}</button>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
