{% extends "default.html" %}
{% block body %}
  {% include "partials/nav-mobile.html" %}
  {% include "partials/sidebar-mobile.html" %}
  <div class="container-fluid">
    <div class="row">
      {% include "partials/sidebar.html" %}
      <div class="col-lg-6 col-md-8 col-sm-12 col-md-offset-2">
        <h2 class="hidden-xs hidden-sm header-page">{{ __(title) }}</h2>
        <div class="intro-text">{{ contents | safe }}</div>
        <div class="team-container">
        {% for person in external %}
          <div class="team-person">
              <hr>
              <h4>
                {{ person.firstname }} {{ person.lastname }}
                <span class="team-role">{{ person.role | escape }}</span>
              </h4>
              {% if person.personal_url %}
                <h5 class="team-url">
                  <a target="blank" href="{{ person.personal_url}}">{{ person.personal_url }}</a>
                </h5>
              {% endif %}
              <p>
                {{ person.bio_html | escape }}
              </p>
          </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
{% endblock %}
