{% extends "default.html" %}
{% block body %}
  {% include "partials/nav-mobile.html" %}
  {% include "partials/sidebar-mobile.html" %}
  <div class="container-fluid">
    <div class="row">
      {% include "partials/sidebar.html" %}
      <div class="col-md-5 col-md-offset-2">
        <h2 class="hidden-xs hidden-sm header-page">{{ __(title) }}</h2>
        <p class="lead">
        </p>
        {{ contents | safe }}
        {% for person in external %}
          <div class="team-person">
              <h4>
                {{ person.firstname }} {{ person.lastname }}
                <span class="team-role">{{ person.role }}</span>
              </h4>
              {% if person.personal_url %}
                <h5 class="team-url">
                  {{ person.personal_url}}
                </h5>
              {% endif %}
              <p>
                {{ person.bio_html}}
              </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
