@font-face {
  font-family: 'hk_grotesk';
  src: url('fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
  url('fonts/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
  url('fonts/hkgrotesk-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('fonts/hkgrotesk-italic-webfont.woff2') format('woff2'),
  url('fonts/hkgrotesk-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
  url('fonts/hkgrotesk-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('fonts/hkgrotesk-lightitalic-webfont.woff2') format('woff2'),
  url('fonts/hkgrotesk-lightitalic-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
  url('fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('fonts/hkgrotesk-semibold-webfont.woff2') format('woff2'),
  url('fonts/hkgrotesk-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('fonts/hkgrotesk-semibolditalic-webfont.woff2') format('woff2'),
  url('fonts/hkgrotesk-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

body{
  font-family: 'hk_grotesk', Arial, sans-serif;
  padding-top: 50px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Titillium Web', Arial, sans-serif;
}

h2{
  font-weight: 600;
  font-size: 24px;
}

h4{
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

h5{
  line-height: 18px;
}

h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}

p {
  font-family: 'hk_grotesk', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 27px;
}

p small{
  font-size: 12px;
  font-weight: lighter;
}

p em {
  font-family: 'hk_grotesk', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 27px;
}

a {
  color: #000000;
  text-decoration: none;
}

/*Global UI*/
.container{
  margin-left: 0px;
}

.btn {
  border-radius: 100px;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #E6142D;
  color: #E6142D;
  opacity: 0.8;
}

.btn:hover, .btn:focus, .btn:active, .btn-default:active:hover {
  background-color: #FBFBFB;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #E6142D;
  color: #E6142D;
  opacity:1;
}

.navbar-header .btn:hover, .navbar-header .btn:focus, .navbar-header .btn:active, .navbar-header .btn-default:active:hover {
  background-color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  color: #E6142D;
  opacity:1;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow:none;
}

.left, .right{
  font-size: 12px;
  width: 30px;
  height: 30px;
  padding: 6px;
}

.hamburger{
  float: left;
  margin-right: 0px;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  font-size: 20px;
  margin-left: 0px;
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}

.navbar-brand {
  font-family: 'Titillium Web', Arial, sans-serif;
  font-size: 21px;
  letter-spacing: 0.56px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-default .navbar-brand {
  color: #E6142D;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #E6142D;
  background-color: transparent;
}

.hidden-hd{
  display: inline-block;
}

.fixed-sidemenu {
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right:1px solid #EEEEEE;
  border-top: 5px solid #F62837;
}

.active>a{
  color: #F62837!important;
  opacity: 1!important;
}

.active>a>.nav-underline{
  border-bottom: none!important;
}

.languages a{
  color: #CACACA!important;
  padding-right: 5px;
}

.languages .active>a{
  color: #000!important;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.fixed-sidemenu a {
  color: #000;
}

.sidemenu-logo{
  padding-bottom: 27px;
  margin-top: 18px;
  /*min-height: 165px;*/
}

.sidemenu-logo p{
  font-size: 12px;
  line-height: 18px;
  padding: 0;
}

.sidemenu-logo h1{
  font-family: 'Titillium Web', Arial, sans-serif;
  font-size: 36px;
  color: #E6142D;
  letter-spacing: 0.56px;
  font-weight: 600;
  text-transform: uppercase;
}

.sidemenu-logo h1 a{
  color: #E6142D;
  text-decoration: none;
}

.sidemenu-logo h1 a:hover{
  color: #E6142D;
  text-decoration: none;
}

.sidemenu-1{
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-top: 27px;
  padding-bottom: 27px;
  border-top:1px solid #EEEEEE;
}

.sidemenu-2{
  margin-top: auto;
  font-family: 'hk_grotesk', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-top: 18px;
  border-top:1px solid #EEEEEE;
}

.sidemenu-1>.nav>li>a {
  padding: 9px 65px;

}

.sidemenu-2>.nav>li>a {
  padding: 3px 65px;
}

.sidemenu-2>ul {
  margin-bottom: 18px;
}


.nav>li>a {
  opacity: 0.7;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #fff;
  opacity: 1;
}

.languages {
  margin-bottom: 18px;
  padding-left: 65px;
  text-transform: uppercase;
}

.fixed-rightbar {
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  background-color: #F6F6F6;
  padding-top: 25px;
}

.fixed-rightbar p,
.fixed-rightbar figcaption {
    font-size: 16px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 15px;
}

.fixed-rightbar img{
  width: 100%;
  padding: 15px 0;
}

.sidebar-mobile-container{
  width: calc(100% - 10%);
  background-color: white;
  position: fixed;
  top: 50px;
  z-index: 1;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  transform: translate(-150%);
  transition: transform 0.5s;
  -webkit-box-shadow: 10px 0px 19px -2px rgba(0,0,0,0.19);
  -moz-box-shadow: 10px 0px 19px -2px rgba(0,0,0,0.19);
  box-shadow: 10px 0px 19px -2px rgba(0,0,0,0.19);
  padding: 0 15px;
}

.sidebar-mobile-container.collapse{
  transform: translate(0);
}

.header-page {
  padding-bottom: 0px;
  padding-top: 22px;
}

.home-margin{
  margin-top: 0px;
}

.latest-news{
  display: inline-block;
}

.latest-news-btn-group,
.archive-news-btn-group{
  margin-top: 15px;
  margin-left: 20px;
}

.last-news-container{
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: normal;
  overflow-x: auto;
}

.last-news{
  width: 100%;
  padding: 20px 0 20px;
  white-space: normal;
  display: block;
  float: left;
  clear: both;
  border-bottom: 1px solid #cacaca;
  background-color: transparent;
  transition: background-color 0.25s;
}

.last-news:hover{
  background-color: #eee;
}

.idefi{
  position: absolute;
  width: 50px;
  left: 15px;
  top: 15px;
}

/* static */
.static a,
.footnotes-list a {
    border-bottom: 1px #E6142D solid;
    color: #000;
    opacity: 0.8;
}

.static a:hover,
.footnotes-list a {
  text-decoration: none;
}

.static .footnote-ref a{
  border-bottom: none;
}

.footnotes-list .footnote-backref{
  text-decoration: none;
  border-bottom: none;
}

.footnotes-list img{
  max-width: 100%;
}

.static h3{
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
}



/*home*/
.home-container{
  position: relative;
  display: block;
  flex-direction: column;
  height: 100vh;
}

.home-intro{
  flex-grow: 1;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #E6142D;
  background-image: url("../media/cover_forccast.jpg");
  padding: 100px 0 50px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-intro p{
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  padding-left: 0px;
}

.home-intro a{
  font-size: 14px;
  color: #FFFFFF;
  line-height: 36px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  letter-spacing: 0.5px;
  margin-left: 0px;
}

.home-intro a:hover, .home-intro a:focus {
  text-decoration: none;
}

.home-news{
  margin-top: auto;
  flex-grow: 0;
}

.home-news h2{
  font-size: 27px;
  padding-left: 0px;
}

.home-read-more{
  font-family: 'hk_grotesk', Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

.last-news a:hover .home-read-more{
  color: #E6142D;
  border-bottom: none;
}

.navbar-header{
  background-color: #fff;
}

.navbar-default{
  border: none;
}

/* news archive page */

.news-img{
  flex: 0 0 100%;
  height: 185px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
}

.news-info > .news-category {
    margin-top: auto;
    padding-bottom: 27px;
    border-bottom: solid 1px #cacaca;
}

.img-order-0{
  order: 0;
}

.img-order-1{
  order: 0;
}

.news-media{
  display: block;
  width: 100%;
}

.news-media-container{
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  line-height: 18px;
  background-color: #eee;
  font-style: italic;
  margin-bottom: 15px;
}

.news-media-container>p{
  font-size: 14px;
  line-height: 18px;
}

.news-media-container img{
  margin-bottom: 15px;
}


.news-category, .last-news-category {
  font-family: 'hk_grotesk', sans-serif;
  font-size: 11px;
  color: #E6142D;
  text-transform: uppercase;
  line-height: 14px;
}

.news-category-container {
  margin-bottom: 27px;
}

.news-archive-img-link{
  display: block;
  width: 100%;
  height: 100%;
}

.search-tags {
  font-family: 'hk_grotesk', sans-serif;
  font-size: 12px;
  color: #CACACA;
  text-transform: uppercase;
  line-height: 15px;
}


.news-box h4, .last-news h4{
  font-size: 18px;
  line-height: 20px;
}

.last-news h4 .truncate-readmore{
  text-transform: uppercase;
  font-size: 14px;
}

.news-box a, .last-news a{
  color: #000;
  opacity: 0.7;
}

.news-box a:hover, .news-box a:focus, .last-news a:hover, .last-news a:focus{
  opacity: 1;
  text-decoration: none;
}

.news-date, .last-news-date {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.img-order-1 {
  margin-left: 0px;
  margin-right: 27px;
}

.img-order-0{
  margin-right: 27px;
}

.pagination-news .archive-news-btn-group{
  text-align: center;
}

.pagination-news .archive-news-btn-group a{
  margin-top: 10px;
}

/*News single*/
.news-content{
  padding-top: 36px;
  margin-bottom: 100px;
}

.news-content a{
  border-bottom: 1px #E6142D solid;
  color: #000;
  opacity: 0.8;
}

.news-content ul{
  font-size: 18px;
}

.news-content a:hover, .news-content a:focus{
  border-bottom: 1px #E6142D solid;
  color: #000;
  opacity: 1;
  text-decoration: none;
}

.news-content figcaption,
.news-content .legend{
  display: none;
}

.archive-news-btn-group{
  padding-bottom: 50px;
}

/* calendar*/

.event-date{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 100px;
  min-width: 25%;
}

.event-info-link{
  display: flex;
}

.event-link{
  flex-shrink: 0;
}

.event-info{
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 60%;
  overflow: hidden;
}

.event-info a{
    border-bottom: 1px #E6142D solid;
    color: #000;
    opacity: 0.8;
}

.event-info a:hover{
  text-decoration: none;
  opacity: 1;
}

.event-container{
  flex-direction: column;
  border-top: 1px solid #EEEEEE;
  margin-top: 18px;
  padding-top: 18px;
}

.month {
  font-size: 18px;
  color: #F62837;
  line-height: 12px;
  text-transform: uppercase;
}

.month:not(:first-of-type){
  margin-top: 50px;
}

/* resources */
.resources-archive {
  padding-top: 54px;
}

.resource-box:hover{
  background-color: #eee;
}

.resource-box{
  transition: background-color 0.5s;
  padding: 10px 0px;
}

.resource-box img{
  width: 100%;
}

.resource-box h4{
  font-size: 18px;
}

.resources-archive .panel-body{
  padding: 0px;
}

.resources-archive .panel-body .resource-box{
  border-top: 1px solid #EEEEEE;
}

.resources-archive .panel-body .resource-box:first-of-type{
  border-top: none;
}

.resources-archive .panel-group .panel{
  border-radius: 0px;
  border-top: 1px solid #CECECE;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.resources-archive .panel-default > .panel-heading{
  border: none;
  background-color: transparent;
  color: #D0011B;
  padding: 10px 0px;
}

.resources-archive .panel-group .panel-heading + .panel-collapse > .panel-body,
.resources-archive .panel-group .panel-heading + .panel-collapse > .list-group{
  border-top: none;
}

.resources-archive .panel{
  box-shadow: none;
  -webkit-box-shadow:none;
}

.resources-archive .panel-title{
  font-size: 16px;
}

.resources-archive .panel-title > a:hover,
.resources-archive .panel-title > a:active,
.resources-archive .panel-title > a:focus{
  text-decoration: none;
}

/* team and partners */

.team-person h4,
.partner-person h4{
  font-weight: bold;
}

.team-person .team-role,
.partner-person .partner-role{
  font-weight: normal;
}

.partner-person, .team-person{
  margin: 27px 0 54px;
}

.partners-container, .team-container{
  padding-top: 54px;
}

.partner-url a,
.team-person a{
  color: #F62837;
  text-decoration: none;
}

.partner-url a:hover,
.team-person a{
  color: #F62837;
  text-decoration: none;
}

.partner-url{
  font-size: 16px;
  letter-spacing: 1px;
}

.partner-thumbnail-image{
  max-height: 10rem;
  max-width: 10rem;
}

/* project */

.expand-detail .glyphicon:before {
  content: "\002b";
}

.expand-detail[aria-expanded="true"] .glyphicon:before {
  content: "\2212";
}

.filters-container{
  position: fixed;
  top: 50px;
  background: #F6F6F6;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  transform: translate(100%);
  transition: transform 0.5s;
}

.filters-container.collapsed{
  transform: translate(0%);
}

.open-filters{
  float: right;
  margin-right: 15px;
  margin-left: 0px;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
}

.filter-pills{
  text-transform: capitalize;
  background: #BDCCD4;
  border-radius: 100px;
  border: none!important;
  font-size: 14px;
  color: #000000;
  line-height: 12px;
  padding: 8px;
  margin-bottom: 4px;
  white-space: normal;
  text-align: left;
}

.filter-pills:hover, .filter-pills:focus, .filter-pills:active {
  border: none;
  border-radius: 14px;
  text-transform: capitalize;
  font-weight: 600;
  opacity:1;
  background: #BDCCD4;
  color: #000;
}

.filter-pills.active {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F62837!important;
  color: #fff!important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] {
  opacity: .25;
}

.project-box {
  border-top: 1px solid #EEEEEE;
  min-height: 150px;
  padding: 15px 0;
}

.btn-circle {
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 5px 3px;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 15px;
  border: 1px solid #F62837;
}

.project-box a:hover,
.project-box a:visited,
.project-box a:active {
  color: black;
  text-decoration: none;
}

.project-box img{
  width: 100%;
}

.search-students, .search-tutors, .search-teachers, .search-course {
  list-style: none;
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 10px;
  -webkit-padding-start: 0px;
  padding-bottom: 27px;
  font-size: 14px;
}

.filters-container h4{
  text-transform: uppercase;
  padding-top: 27px;
  font-size: 18px;
}

.search-tags{
  padding-top: 54px;
}

.form-control {
  display: block;
  width: 95%;
  height: 54px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #ffffff;
  background-image: none;
  border: none;
  border-radius: 4px;
}

.selected-projects {
  font-weight: 800;
}

.counter-projects {
  font-size: 12px;
  margin-top: 10px;
}

/* page */

.notes-container{
    position: fixed;
    top: 0px;
    background: #F6F6F6;
    height: 100vh;
    overflow-y: scroll;
    transform: none;
    padding-top: 45px;
}

.notes-container .footnote-item :nth-child(2){
  display: initial;
}

.notes-container .footnote-item{
  background-color: #F6F6F6;
}

.notes-container .footnote-item.active-footnotes{
  animation: pulsate 3s;
}

@keyframes pulsate {
  0% {background-color: #F6F6F6;}
  50% {background-color: #E6142D;}
  100% {background-color: #F6F6F6;}
}

.footnote-ref a{
  color: #E6142D;
  letter-spacing: 1px;
}

.footnote-ref a:hover{
  text-decoration: none;

}
.footnote-item{
  margin-top: 15px;
}

.footnote-item h4{
  color: #E6142D;
  font-size: 17px;
}

.footnote-item .footnote-backref{
  margin-right: 5px;
  color: #E6142D;
}

.footnotes-list li {
    counter-increment: step-counter;
}

.footnotes-list {
    margin-left: 0;
    padding-right: 5px;
    padding-left: 5px;
    list-style-type: none;
}

.footnotes-list li::before {
    content: counter(step-counter);
    color: #E6142D;
    margin-right: 5px;
    font-weight: bold;
}

.show-note-button{
  border-top: 1px solid #E6142D;
  border-bottom: 1px solid #E6142D;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0px 15px;
  cursor: pointer;
  margin-bottom: 3px;
}

.show-note-button[aria-expanded="true"]{
    border-bottom: 0px;
}

.show-note-button{
    counter-increment: step-counter;
}

.show-note-button h4::before {
    content: counter(step-counter);
    color: #E6142D;
    margin-right: 5px;
    font-style: normal;
    font-size: 17px;
}

.show-note-button h4::after {
    content: '+';
    color: #E6142D;
    font-style: normal;
    font-size: 17px;
    position: absolute;
    right: 20px;
}

.show-note-button[aria-expanded="true"] h4::after {
    content: '-';
}

.show-note-button h4{
  color: #E6142D;
  font-size: 17px;
  margin: 3px 0px;
}

.show-note-content{
  border-bottom: 1px solid #E6142D;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
  padding: 0px 15px 10px;
}

.show-note-content img{
  max-width: 100%;
}

/* utilities */

mark{
  background: #E6142D;
  color: white;
  padding: 0px;
}

.flex{
  display: flex;
  display: -webkit-flex;
}

.flex-column{
  flex-direction: column;
  -webkit-flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.form-group{
  margin-top: 20px;
}

.intro-text{
  margin-top: 54px;
}

/* tablet vertical */
@media (min-width: 768px) {

h2{
  font-weight: 600;
  font-size: 36px;
}

.news-content{
  padding-top: 36px;
  margin-bottom: 100px;
}

.home-container {
    display: flex;
}

.idefi{
  position: absolute;
  width: 70px;
  right: 15px!important;
  left: auto;
  top: 75px;
}

.left, .right{
  font-size: 14px;
  width: 40px;
  height: 40px;
  padding: 9px;
}

  .hamburger{
    margin-right: 15px;
    margin-left: 0px;
  }

  .last-news-container{
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }

  .last-news{
    width: 50%;
    padding: 15px 15px 15px 15px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    float: none;
    border-right: 1px solid #eee;
    margin-bottom: 15px;
    margin-right: -4px;
  }

  .news-img{
    flex: 0 0 200px;
    height: 200px;
  }

  .news-box {
    border-top: 1px solid #EEEEEE;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .flex-wrap{
    flex-wrap: nowrap;
  }

  .news-media{
    display: none;
  }

  .news-media-container{
    display: none;
  }

  .event-date{
    display: block;
    flex-shrink: 0;
  }

  .resources-archive .panel-title{
    font-size: 22px;
  }

  .event-info-link{
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .event-container{
    flex-direction: row;
  }

  .expand-details:before {
    content:"+";
  }

  .expand-details[aria-expanded="true"]:before {
    content:"-";
  }

  .filters-container{
    position: fixed;
    top: 0px;
    background: #F6F6F6;
    height: 100vh;
    overflow-y: scroll;
    transform: none;
    padding-top: 52px;
  }

  .last-news{
    border-bottom: none;
  }

  .home-intro p{
    font-size: 24px;
    color: #FFFFFF;
    line-height: 36px;
    padding-left: 15px;
  }

  .home-intro a{
    margin-left: 15px;
  }

  .home-news h2 {
    padding-left: 15px;
  }

  .news-info > .news-category {
    margin-top: auto;
    padding-bottom: 0;
    border-bottom: none;
}

.form-control {
  width: 100%;
}

.form-group{
  margin-top: 20px;
}

.home-intro{
  padding: 30% 0 0 0;
}

.home-margin{
  margin-top: -50px;
}


}


/* tablet horizontal */
@media (min-width: 992px) {

  body{
    padding-top: 0px;
  }

  .last-news{
    width: 30%;
  }

  .idefi{
    position: absolute;
    width: 90px;
    right: 15px!important;
    left: auto;
    top: 15px;
  }

  .home-margin{
    margin-top: 0px;
  }

  .home-news h2{
    font-size: 22px;
  }

  .last-news h4 {
    font-size: 14px;
    line-height: 17px;
  }

  .img-order-1{
    order: 1;
  }

  .sidemenu-1>.nav>li>a {
    padding: 9px 5px;
  }

  .sidemenu-2>.nav>li>a {
    padding: 3px 5px;
  }

  .languages {
    padding-left: 5px;
  }

  .sidemenu-logo h1 {
    font-size: 20px;
  }

  .sidemenu-logo p {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }

  .home-intro p{
    font-size: 20px;
    color: #FFFFFF;
    line-height: auto;
    padding-left: 15px;
  }

  .home-intro {
    padding: 183px 0 0 0;
}

  .header-page {
    padding-bottom: 91px;
    padding-top: 22px;
  }

.img-order-1 {
  margin-left: 12px;
  margin-right: 0px;
}

.img-order-0{
  margin-right: 12px;
}

.news-date, .last-news-date {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.form-group{
  margin-top: 0px;
}

.intro-text{
  margin-top: 0px;
}

.last-news {
    padding: 15px 30px 15px 15px;
}

.notes-container{
  padding-top: 165px;
}

}

/* desktop */
@media (min-width: 1200px) {

  .sidemenu-logo p{
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }

  .home-intro {
    padding: 183px 0 0 0;
  }

  .home-intro p{
    font-size: 24px;
    color: #FFFFFF;
    line-height: 36px;
    padding-left: 15px;
  }

  .home-intro a{
    margin-left: 15px;
  }

  .home-news h2{
    font-size: 27px;
  }

  .last-news h4 {
    font-size: 18px;
    line-height: 20px;
  }

  .last-news {
      padding: 15px 15px 15px 15px;
  }

  .sidemenu-1{
    font-family: 'Titillium Web', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 27px;
  }

  .sidemenu-2{
    margin-top: auto;
    font-family: 'hk_grotesk', Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding-top: 18px;
  }

  .sidemenu-1>.nav>li>a {
    padding: 9px 5px;

  }

  .sidemenu-2>.nav>li>a {
    padding: 3px 5px;
  }

  .sidemenu-2>ul {
    margin-bottom: 18px;
  }

  .nav>li>a {
    opacity: 0.7;
  }

  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    opacity: 1;
  }

  .sidemenu-logo h1 {
    font-size: 36px;
  }

  .img-order-1 {
  margin-left: 27px;
}

.img-order-0{
  margin-right: 27px;
}

.latest-news-btn-group,
.archive-news-btn-group{
  margin-top: 10px;
}

.form-group{
  margin-top: 0;
}

}

/* hd */
@media (min-width: 1441px) {

  .hidden-hd{
    display: none;
  }

}

.inline_sciencespo_logo{
  display: inline;
  max-height: 3.33em;
  line-height: 1em;
}
